<div class="projects-grid" *ngIf="!carregando && !erro; else status">
  <div
    class="project-card"
    *ngFor="let edital of editais"
    (click)="selecionarEdital(edital.id)"
    role="button"
    tabindex="0"
  >
    <h3>{{ edital.titulo }}</h3>
    <h3 class="project-title">{{ edital.instituicao }}</h3>
    <p class="project-desc">{{ edital.dtInicio | date: 'shortDate' }}</p>
    <p class="project-desc">{{ edital.dtFim | date: 'shortDate' }}</p>
  </div>
</div>

<ng-template #status>
  <p *ngIf="carregando">Carregando editais…</p>
  <p *ngIf="erro">{{ erro }}</p>
</ng-template>
