<div class="tabela-container">
  <div class="tabela-header">
    <div class="header-actions">
      <button mat-icon-button [routerLink]="['/coordenador']" matTooltip="Voltar">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2>Lista de Editais</h2>
    </div>
    <button mat-mini-fab color="primary" [routerLink]="['/form-edital']" matTooltip="Adicionar edital"
      aria-label="Adicionar edital">
      <mat-icon>post_add</mat-icon>
    </button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Instituição</th>
        <th>Data Início</th>
        <th>Data Fim</th>
        <th style="text-align: right;">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let edital of editais">
        <td>{{ edital.titulo }}</td>
        <td>{{ edital.instituicao }}</td>
        <td>{{ edital.dtInicio | date: 'dd/MM/yyyy' }}</td>
        <td>{{ edital.dtFim | date: 'dd/MM/yyyy' }}</td>
        <td class="acoes">
          <button mat-icon-button color="accent" (click)="editarEdital(edital.id)" matTooltip="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deletarEdital(edital.id)" matTooltip="Excluir">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="total">Total de editais: <strong>{{ editais.length }}</strong></p>
</div>